
body{background: salmon;}

img{border-radius: 50%;
   padding:10px;
 }
 h1{ line-height: 2em;
   font-size:3em;
letter-spacing: 2px;
text-transform: uppercase;
text-decoration: underline solid red;}

p{color: maroon;font-size: 1em;}

span{font-size: 2em;font-weight: 500;color: white;}

::selection {
    color:white;
    background:navy;
  }